@import "compass/reset";
@import "compass/css3";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";

$default-font-size: 16;

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : ();
  $rem: ();
  
  @each $value in $values {
   
    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    
    @else { 
      $unit: unit($value);
      $val: parseInt($value);
      
      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / $default-font-size + rem));
      }
      
      @if $unit == "rem" {
        $px : append($px,  ($val * $default-font-size + px));
        $rem: append($rem, $value);
      }
    }
  }
  
  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

$base-line-height: (21/16);

* {
  @include box-sizing(border-box);
}

html, body {
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
  line-height: $base-line-height;
}

.alpha {
  @include rem(font-size, 24px)
}

.beta {
  @include rem(font-size, 16px)
}

.gamma {
  @include rem(font-size, 11px)
}

.font--verdana {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.box {
  margin: 1em;
  padding: 1em;
  @include clearfix;
}

.box--dark {
  background-color: #323649;
}

/* Buttons */

$button-text-color: #000;
$button-padding: .2em 1.7em;
$btn-radius: 6px;


.btn {
  position: relative;
  border: 0;
  color: $button-text-color;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  padding: $button-padding;
  text-decoration: none;
  line-height: 1.3;
  @include background(linear-gradient(#f2f2f2 30%, #e2e2e2 70%));
  @include border-radius($btn-radius);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: -1;
    @include border-radius($btn-radius+1px);
    @include background(linear-gradient(bottom, rgba(#000, .35) 0%, rgba(#000, .1) 100%));
  }

  &:hover {
    @include background(linear-gradient(bottom, #fdffcc 30%, #feffeb 70%));
  }
  &:active {
    @include single-box-shadow(rgba(0,0,0,.26), 0, 2px, 3px, 0, inset);
    @include background(linear-gradient(bottom, #f2f2f2 30%, #e2e2e2 70%));
  }
  &:focus {
    @include single-box-shadow(rgba(0,35,214,.94), 0, 0, 4px, 0);
    outline: 0;
    &:before {
      opacity: 0;
    }
  }
}

input.btn {
  border: 1px solid rgba(#000, .05);
  border-bottom-color: rgba(#000, .35);
}

/* Browsers list */

.inline-list__item {
  width: 140px;
  height: 140px;
  float: left;
  @include replace-text("chrome.png");
  
  
  &.inline-list__item--chrome {
    background-image: url(../images/chrome.png);
    @include background-size(126px 121px);
  }
  &.inline-list__item--ff {
    background-image: url(../images/ff.png);
    @include background-size(120px 124px);
  }
  &.inline-list__item--opera {
    background-image: url(../images/opera.png);
    @include background-size(108px 118px);
  }
  &.inline-list__item--safari {
    background-image: url(../images/safari.png);
    @include background-size(112px 125px);
  }
  &.inline-list__item--ie {
    background-image: url(../images/ie.png);
    @include background-size(126px 123px);
    float: right;
  }
}


/* Typography */

h1 {
  @extend .alpha;
  line-height: (21/24);
  margin-bottom: (21/24)*1em;
}

p {
  margin-bottom: 1em*$base-line-height;
  text-indent: 1em;
}

.columns {
  @include columns(380em/16);
  @include column-gap(85px);
  overflow: visible;
}

/* List */

ul > li, .verical-list__item {
  position: relative;
  padding-left: 1em;
  margin-left: -1em;
  &:before {
    display: inline-block;
    color: #858585;
    content: "—";
    position: absolute;
    left: 0;
  }
}

$link-color: #0070ed;
$link-soft-color: #353434;

.link, a {
  color: $link-color;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.link--soft {
  color: $link-soft-color;
  text-decoration: none;
  border-bottom: 1px dashed;
  &:hover {
    border-bottom: 0;
  }
}