@import "compass/reset";
@import "compass/css3";

body {
  margin: 20px 30px;
}

.gamma {
  font-size: 11px;
}

.font--verdana {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

$button-text-color: #000;
$button-padding: .5em 1em;


.btn {
  border: 0;
  background: linear-gradient(#f2f2f2 30%, #e2e2e2 70%);
  color: $button-text-color;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: $button-padding;
  border: 1px solid rgba(#000, .35);
  border: linear-gradient(#f2f2f2 30%, #e2e2e2 70%);
  @include border-radius(6px);
  
  &,
  &:hover{
      text-decoration:none;
  }
  &:focus {
    @include single-box-shadow(rgba(0,0,0,0.2), 0, 0, 1px, 1px);
  }

  &:active, 
  &:hover,
  &.active {
    
  }

  &:active,
  &.active {
    
  }
}

.btn--inactive,
  .btn--inactive:hover,
  .btn--inactive:active,
  .btn--inactive:focus,
  .btn.disabled,
  .btn.disabled:hover,
  .btn.disabled:active,
  .btn.disabled:focus,
  .btn:disabled,
  .btn--disable {
      
  }