/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/main.scss */
.gamma {
  font-size: 11px;
}

/* line 15, ../sass/main.scss */
.font--verdana {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* line 19, ../sass/main.scss */
.box {
  margin: 1em;
  padding: 1em;
}

/* line 24, ../sass/main.scss */
.box--dark {
  background-color: #323649;
}

/* line 33, ../sass/main.scss */
.btn {
  position: relative;
  border: 0;
  color: black;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  padding: 0.2em 1.7em;
  text-decoration: none;
  line-height: 1.3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #f2f2f2), color-stop(70%, #e2e2e2));
  background: -webkit-linear-gradient(#f2f2f2 30%, #e2e2e2 70%);
  background: -moz-linear-gradient(#f2f2f2 30%, #e2e2e2 70%);
  background: -o-linear-gradient(#f2f2f2 30%, #e2e2e2 70%);
  background: linear-gradient(#f2f2f2 30%, #e2e2e2 70%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
/* line 48, ../sass/main.scss */
.btn:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  z-index: -1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.1) 100%);
}
/* line 61, ../sass/main.scss */
.btn:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(30%, #fdffcc), color-stop(70%, #feffeb));
  background: -webkit-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(bottom, #fdffcc 30%, #feffeb 70%);
}
/* line 64, ../sass/main.scss */
.btn:active {
  -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.26);
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(30%, #f2f2f2), color-stop(70%, #e2e2e2));
  background: -webkit-linear-gradient(bottom, #f2f2f2 30%, #e2e2e2 70%);
  background: -moz-linear-gradient(bottom, #f2f2f2 30%, #e2e2e2 70%);
  background: -o-linear-gradient(bottom, #f2f2f2 30%, #e2e2e2 70%);
  background: linear-gradient(bottom, #f2f2f2 30%, #e2e2e2 70%);
}
/* line 68, ../sass/main.scss */
.btn:focus {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 35, 214, 0.94);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 35, 214, 0.94);
  box-shadow: 0 0 4px 0 rgba(0, 35, 214, 0.94);
  outline: 0;
}
/* line 71, ../sass/main.scss */
.btn:focus:before {
  opacity: 0;
}

/* line 77, ../sass/main.scss */
input.btn {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom-color: rgba(0, 0, 0, 0.35);
}
